/*-------------------------------------
    
  Author: Webstrot 
  Copyright: © 2021-22
  Template : Hotelier HTML Template
---------------------------------------
/*------ Table Of Content --------

- Theme default CSS
- top header section
- main header wrapper
- mobile menu wrapper
- sb banner content Start
-service section css 
-slider section css
-destination css 
-video section css
-gellary section css
-blog section css
-news section css
-contact form css
-footer section css
====Sign up page css
-form section css
====Listing grid view
-side bar css
===Map view
===blog Categories page
===Blog Singal Page
===404 page css page
===hotel singal page
===index-02 page css
===add hotel page css
===dashboard page css
===my hotel page css

--------------------------*/

body {
	font-size: 16px;
	line-height: 1.6;
	font-family: 'lato', sans-serif;
	color: #111;
	background-color: #ffffff;
	/* overflow-x: hidden; */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

a {
	color: #111;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	line-height: 1.1;
	text-transform: capitalize;
	font-weight: 400;
	color: #111111;
	margin: 0;
	padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #111;
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

h2 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

p {
	font-family: 'Mulish', sans-serif;
	margin: 0;
	color: #767777;
	font-size: 16px;
}

input,
select,
button,
textarea {
	outline: none;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
}
.btn:focus{
	box-shadow: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.p-0 {
	padding: 0 !important;
}

.t-center {
	text-align: center;
}
.mt-30{
	margin-top: 30px;
}
/* return-to-top css start */
#return-to-top {
	position: fixed;
	bottom: 17px;
	right: 40px;
	background: #1c73ea;
	width: 50px;
	height: 50px;
	display: block;
	color: #fff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
	text-transform: capitalize;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 9999;
	line-height: 70px;
	text-align: center;
}
#return-to-top i{
	font-size: 25px;
}
  
/* return-to-top end */
/* mobile_menu_main */
.p-30{
	padding: 30px 0px;
}
.pb-0{
	padding-bottom: 0px !important;
}
.p-rel {
	position: relative;
}

.mobile_menu_main {
	float: left;
	width: 100%;
}

.mobile_logo {
	float: left;
	padding: 20px 0px;
	width: 98px;
}

#sidebar {
	position: fixed;
	display: block;
	height: 100vh;
	top: 0px;
	left: -500px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(77, 77, 77, 0.5);
	overflow: scroll;
	overflow-x: hidden;
	z-index: 99999;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu ul li {
	border-bottom: 1px solid #1c73ea;
	width: 100%;
	float: left;
}

#cssmenu ul li.has-sub ul li {
	/* padding: 14px 0px; */
	border-bottom: 1px solid #b7dbf9;
	background: #ddebf7;
}

#cssmenu ul li.has-sub:hover {
	background-color: #7db9ec;
}

#cssmenu ul li.has-sub ul li a {
	padding: 14px 34px;
}

#cssmenu ul li.has-sub ul li .m-sub-dropdown li {
	border-bottom: 1px solid #b7dbf9;
}

#cssmenu ul li.has-sub ul li .m-sub-dropdown li a {
	padding: 14px 50px;
}

#cssmenu ul li.has-sub ul li a {
	color: #111;
	font-weight: 300;
	font-size: 14px;
	/* transform: translateX(20px); */
}

#cssmenu {
	width: 286px;
	color: #ffffff;
}
#cssmenu input:focus{
	box-shadow: none;
	border-color: #ced4da;
}

#cssmenu ul ul {
	display: none;
}

#cssmenu>ul>li.active>ul {
	display: block;
}

.align-right {
	float: right;
}

#cssmenu>ul>li>a {
	font-size: 21px;
	color: #111;
	text-align: left;
	padding: 14px 34px;
	font-weight: 200;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#cssmenu>ul>li>a span {
	width: 110px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: 58%;
	margin-left: -64px;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #4d3abe;
	background: #4d3abe;
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	bottom: 100px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#cssmenu>ul>li>a span:before,
#cssmenu>ul>li>a span:after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.1);
}

#cssmenu>ul>li>a span:after {
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #4d3abe;
}

#cssmenu>ul>li>a:hover span {
	opacity: 1;
	bottom: 70px;
}

#cssmenu>ul>li>a:after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
}

#cssmenu>ul>li:last-child a:after {
	display: none;
}

#cssmenu>ul>li>a:hover,
#cssmenu>ul>li.active>a {
	color: #4d3abe;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#sidebar .sidebar_logo {
	float: left;
	width: 100%;
	text-align: center;
	background: #1c73ea;
	padding: 20px;
	margin-bottom: 20px;
}

.m-social-icons {
	border-bottom: 0px !important;
	padding: 0px 20px !important;
}

.m-social-icons span {
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin: 15px 5px;
	display: inline-block;
	color: #111;
	border: 1px solid #1c73ea;
	text-align: center;
}

.m-social-icons span:hover {
	background-color: #1c73ea;
	color: #fff;
}


/* mobile search bar */

#cssmenu .input-group {
	width: 88%;
	margin-bottom: 20px;
}


/* main_menu_wrapper start */

.main_menu_wrapper {
	float: left;
	width: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* height: 500px; */
	position: relative;
	z-index: 9999;
}

.main_menu_wrapper::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #0000008c;
	top: 0;
	z-index: -1;
}

.main_menu_wrapper .main_menu_navbar .navbar-brand {
	display: inline-block;
	/* padding: 25px 0px; */
}

.main_menu_wrapper .main_menu_navbar .navbar {
	padding: 0px;
}
.mega-menu{
	width:725px !important;
	left: -325px !important;
	display: flex;
}
.mega-menu:after{
	left: 0;
	right: 0;
	margin: 0 auto;
}
.main_menu_wrapper .main_menu_navbar {
	filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
	background-color: #ffffff1c;
	padding: 10px 0;
}

.main_menu_wrapper .main_menu_navbar ul li a {
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}

.main_menu_wrapper .navbar-expand-sm .navbar-nav {
	justify-content: space-around;
	align-items: center;
}

.main_menu_wrapper .btn-outline-dark {
	color: #fff;
	border-color: #fff;
	width: 150px;
	height: 50px;
}

.btn-outline-dark:hover {
	color: #111;
	background-color: #fff;
}

.main_menu_wrapper .main_menu_navbar ul li .dropdown-items, .dash-dropdown ul.dropdown-items {
	position: absolute;
	width: 235px;
	background-color: #f3f8ff;
	padding: 25px 0px;
	top: 94px;
	left: -40px;
	border-radius: 10px;
	opacity: 0;
	z-index: 999;
	visibility: hidden;
	/* transform: translateY(-40px); */
	transition: all 0.5s;
}

.main_menu_wrapper .main_menu_navbar ul li:hover .dropdown-items, .dash-dropdown ul.dropdown-items {
	opacity: 1;
	visibility: visible;
	/* transform: translateY(0px); */
}

.main_menu_wrapper .main_menu_navbar ul .dropdown-items.sub-dropdown {
	opacity: 0 !important;
	visibility: hidden !important;
	transform: translateY(-40px);
}

.main_menu_wrapper .main_menu_navbar ul .dropdown-items li:hover .sub-dropdown {
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateY(-40px);
}

.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .sub-dropdown {
	left: 240px;
	top: 20px;
}

.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .sub-dropdown li a {
	color: #111111 !important;
}

.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .sub-dropdown li:hover a {
	color: #1c73ea !important;
}

/* .main_menu_wrapper .main_menu_navbar ul li .dropdown-items li {
	padding: 7px 30px;
} */
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu-two {
	padding: 0px;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu-two:hover{
	background: #f3f8ff !important;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu-two ul li a{
	color: #111111 !important;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu{
	padding: 0px;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu:hover{
	background: #f3f8ff;
}
/* .main_menu_wrapper .main_menu_navbar ul li .dropdown-items .shortcode-menu:hover a{
	color: #111111;
} */
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items li a , .dash-dropdown ul.dropdown-items li a{
	color: #111;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 16px;
	display: inline-block;
	padding: 7px 30px;
	width: 100%;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items li{
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items li:hover,.dash-dropdown ul.dropdown-items .shortcode-menu ul li:hover  {
	background-color: #86b6fa9f;
}

/* .main_menu_wrapper .main_menu_navbar ul li .dropdown-items li:hover a, .dash-dropdown ul.dropdown-items .shortcode-menu ul li a {
	color: #111111;
} */
.main_menu_wrapper .main_menu_navbar ul li .dropdown-items li a:hover, .dash-dropdown ul.dropdown-items .shortcode-menu ul li a:hover {
	color: #1c73ea;
}

.dropdown-items::after {
	content: '';
	position: absolute;
	width: 35px;
	height: 35px;
	background: #f3f8ff;
	z-index: -1;
	left: 40px;
	transform: rotate(45deg);
	top: -12px;
	transition: all 0.5s;
}

.dropdown-items.sub-dropdown::after {
	left: -17px;
	top: 25px;
}

.navbar-nav .nav-item {
	padding: 25px 0px;
	letter-spacing: 0.5px;
}
/* list item hover */
.wrap-nav-item {
	position: relative;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    font-size: 14px;
    letter-spacing: -.5px;
    text-decoration: none;
}

.wrap-nav-item:after {
	content: '';
	display: block;
    position: absolute;
    left: 50%;
    top:65px;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transform: translateX( -50% );
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrap-nav-item:hover:after {
    width: 100%;
}
/* fixed navbar css start*/
.menu-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #1c73ea !important;
    z-index: 100;
    -o-box-shadow: 0px 0px 25px -10px;
    -ms-box-shadow: 0px 0px 25px -10px;
    -moz-box-shadow: 0px 0px 25px -10px;
    -webkit-box-shadow: 0px 0px 25px -10px;
    box-shadow: 0px 0px 15px -15px; 
}
.menu-fixed .navbar-brand {
	padding-top: 10px;
} 
/* fixed navbar css end*/
/* #fff header css menu hover */
.header-color .wrap-nav-item:after {
	background-color: #1c73ea;
}
/* search button */

.search-box {
	padding: 8px 0px;
	width: auto;
}

.search-box input {
	border: none;
	margin: 5px 20px;
	width: 72%;
	border-bottom: 1px solid #1c73ea;
	background-color: transparent;
}

.search-box .fa-search {
	position: absolute;
	color: #1c73ea;
	right: 20px;
	top: 40px;
}


#cssmenu ul ul li a:hover {
	color: #111;
}

#cssmenu ul ul ul li a {
	padding-left: 32px;
}

#cssmenu ul ul>li.has-sub>a:after {
	top: 16px;
	right: 26px;
	background: #111;
}

#cssmenu ul ul>li.has-sub>a:before {
	top: 20px;
	background: #111;
}

#cssmenu ul>li.has-sub>a:after {
	position: absolute;
	right: 30px;
	top: 19px;
	z-index: 5;
	display: block;
	height: 10px;
	width: 2px;
	background: #111;
	content: "";
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#cssmenu ul>li.has-sub>a:before {
	position: absolute;
	right: 26px;
	top: 23px;
	display: block;
	width: 10px;
	height: 2px;
	background: #111;
	content: "";
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

#cssmenu ul>li.has-sub>.sub-icon:after {
	right: 30px;
	top: 35%;
}

#cssmenu ul>li.has-sub>.sub-icon::before {
	right: 26px;
	top: 45%;
}

#cssmenu ul>li.has-sub>a:hover:after {
	background: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#cssmenu ul>li.has-sub>a:hover:before {
	background: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#cssmenu ul>li.has-sub.open>a:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#cssmenu ul>li.has-sub.open>a:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#cssmenu>ul>li>input {
	width: 100%;
	padding: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 0.05);
	color: #111;
}

#cssmenu>ul>li>a {
	padding: 16px 22px;
	cursor: pointer;
	z-index: 2;
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	color: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#cssmenu>ul>li>a i {
	padding-right: 10px;
	font-size: 20px;
}

#cssmenu>ul>li>a:hover {
	background: #b9d8f3;
	color: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#cssmenu>ul>li.active>ul {
	display: block;
}

#cssmenu>ul>.open>a {
	background: #b9d8f3;
	color: #111;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}


/* on-off button */

.switch {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 25px;
	border-radius: 20px;
	background: #dfe4ea;
	transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	vertical-align: middle;
	cursor: pointer;
	margin: 0 8px;
}

.switch::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 2px;
	width: 22px;
	height: 22px;
	background: #1c73ea;
	border-radius: 50%;
	transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:active::before {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
	background: #1c73ea;
}

input:checked+.switch::before {
	left: 27px;
	background: #fff;
}

input:checked+.switch:active::before {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}


 /* toggle */
 .navbar-toggler {
	position: absolute;
	z-index: 99999;
	cursor: pointer;
	width: 2.5rem;
	height: 2rem;
	right: 40px;
    /* top: 40px; */
}

.navbar-toggler i {
	color: #fff;
}

.navbar-toggler:focus {
	box-shadow: none;
}
.toggle-main-wrapper {
	/* position: absolute; */
	/* bottom: 30px; */
	left: -50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 49px;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
}

.toggle-main-wrapper li {
	list-style: none;
	position: absolute;
	transform: translateY(-50%);
	width: 70%;
	height: 3px;
	background: #fff;
	transition: 0.5s;
}

.toggle-main-wrapper li:nth-of-type(1) {
	top: 30%;
	left: 15%;
	transition-delay: 0.5s;
	opacity: 1;
}

.toggle-main-wrapper li:nth-of-type(2) {
	top: 50%;
	left: 15%;
	transition-delay: 0s;
}

.toggle-main-wrapper li:nth-of-type(3) {
	top: 70%;
	right: 15%;
	transition-delay: 0.5s;
	opacity: 1;
}

.toggle-main-wrapper.active li:nth-of-type(1) {
	left: 100%;
	transition-delay: 0s;
	opacity: 0;
}

.toggle-main-wrapper.active li:nth-of-type(2) {
	transform: translateY(-50%) rotate(405deg);
	transition-delay: .3s;
}

.toggle-main-wrapper.active li:nth-of-type(3) {
	right: 100%;
	transition-delay: 0s;
	opacity: 0;
}

.toggle-main-wrapper li:nth-of-type(2)::before {
	content: '';
	position: absolute;
	top: -150px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: rotate(90deg);
	transition: 1s;
	transition-delay: .3s;
}

.toggle-main-wrapper.active li:nth-of-type(2)::before {
	top: 0;
	transition-delay: 0.5s;
} 

  

/* upper-menu */

.top-menu {
	background-color: #f3f8ff;
	/* padding: 10px 0px; */
}

.top-menu .sub-top-menu.s-menu {
	display: flex;
	justify-content: flex-end;
}

.main_wrapper .top-menu .sub-top-menu .u-list {
	display: flex;
	align-items: center;
}

.main_wrapper .top-menu .sub-top-menu .u-list li {
	padding: 7px 20px;
	border-right: 1px solid #b1b1b1;
}

.main_wrapper .top-menu .sub-top-menu .u-list li a {
	text-transform: uppercase;
	font-size: 16px;
	color: #111;
	font-weight: bold;
}
.main_wrapper .top-menu .sub-top-menu .u-list li a:hover{
	color: #1c73ea;
}
.main_wrapper .top-menu .sub-top-menu .u-list .social-icon {
	display: flex;
	align-items: center;
	/* border-right: 1px solid #b1b1b1; */
	padding: 0px 20px;
}

.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li a{
	border: 1px solid #b1b1b1;
	margin: 0px 5px;
	height: 35px;
	width: 40px;
	line-height: 35px;
	text-align: center;
	padding: 0px;
	border-radius: 5px;
	display: inline-block;
}

.n-border {
	border: none !important;
}

.top-menu .sub-top-menu .u-list li:hover a {
	color: #1c73ea;
}

.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li a:hover {
	background-color: #1c73ea;
	border-color: #1c73ea;
}
.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li{
	padding: 0;
	border-right: none;
}
.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li a:hover {
	color: #fff !important;
}

.top-menu .sub-top-menu .u-list li a:hover {
	color: #1c73ea;
}

.sub-top-menu .u-list .top-dropdown {
	position: absolute;
	z-index: 999999;
	opacity: 0;
	visibility: hidden;
	background-color: #f3f8ff;
	transition: all 0.5s;
	width: 88px;
	top: 49px;
}

.sub-top-menu .u-list li:hover .top-dropdown {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.sub-top-menu .u-list:hover .top-dropdown li a {
	color: #111;
	font-size: 14px !important;
}

.sub-top-menu .u-list:hover .top-dropdown li:hover {
	background-color: #1c73ea;
}

.sub-top-menu .u-list:hover .top-dropdown li:hover a {
	color: #fff;
}

.btn-check:focus+.btn-outline-dark, .btn-outline-dark:focus{
	box-shadow: none;
}
a.btn-outline-dark{
	line-height: 33px;
}
a.btn-outline-dark:hover{
	color: #111 !important;
}

/* sb banner content Start */

.sb_banner_cont_iner_wrapper {
	float: left;
	width: 100%;
	padding: 150px 0px;
}

.sb_banner_cont_iner_wrapper h2 {
	font-size: 56px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	line-height: 100px;
}

.sb_banner_cont_iner_wrapper h3 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}

.sb_banner_cont_iner_wrapper ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px; 
	background-color: #fff;
	padding-left: 0px;
	border-radius: 10px;
}
.sb_banner_content_wrapper .sb_banner_cont_iner_wrapper ul{
	margin-top: 30px;
}

.sb_banner_cont_iner_wrapper ul li span {
	position: relative;
	left: 20px;
	color: #1c73ea;
}

.sb_banner_cont_iner_wrapper ul li input {
	border: none;
	border-bottom: 2px solid #1c73ea;
	padding-left: 30px;
	width: 90%;
	font-weight: 600;
}

.sb_banner_cont_iner_wrapper ul li input::placeholder {
	color: #111;
	font-weight: 700;
	font-size: 16px;
}

.sb_banner_cont_iner_wrapper ul li select {
	border: none;
	border-bottom: 2px solid #1c73ea;
	padding-left: 17px;
	padding-right: 4px;
	font-weight: 600;
	width: 89%;
}

.sb_banner_cont_iner_wrapper ul li button {
	margin-left: 20px;
	height: 50px;
	width: 150px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.sb_banner_cont_iner_wrapper ul li button:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}

/* services section css */

.services-wrapper {
	float: left;
	width: 100%;
	padding: 0px 13px;
}
.services-wrapper .service-box.p-box-4{
	min-height: 230px;
}
.services-wrapper .service-box {
	/* height: 230px; */
	background-color: #fff;
	text-align: center;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	padding: 60px 0px;
	overflow-x: hidden;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.services-wrapper .service-box span {
	display: inline-block;
}

.services-wrapper .service-box span i {
	color: #1c73ea;
}

.services-wrapper .service-box h4 {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	text-align: center;
	padding-top: 15px;
}

.services-wrapper .service-box:hover {
	background-color: #1c73ea;
}
 /*---------Animation Css start-----------*/
/*---------Animation Css End-----------*/


.services-wrapper .service-box:hover span i,
.services-wrapper .service-box:hover h4 {
	color: #fff;
}
/* ===========slider section css========== */
.slider-wrapper {
	float: left;
	width: 100%;
	padding: 100px 0px;
	background-color: #f3f8ff;
}

.slider-wrapper h4 {
	padding-bottom: 50px;
	font-weight: 700;
}
 .slider-content,
.gallery_section .slider-content {
	padding: 30px 20px;
	border: 1px solid #e9e9e9;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #fff;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: -10px;
}

 .slider-content h5,
.gallery_section .slider-content h5 {
	font-weight: 600;
	line-height: 50px;
	cursor: pointer;
	font-size: 18px;
}

 .slider-content:hover h5 a, .gallery_section .slider-content:hover h5 a{
	color: #1c73ea !important;
}

 span .fas.fa-star,
.gallery_section span .fas.fa-star {
	font-size: 16px;
	color: #e0b319;
}

 .slider-content .clr-text,
.gallery_section .slider-content .clr-text {
	color: #1c73ea;
	cursor: pointer;
}
.sub-main:hover{
	box-shadow: 0px 1px 10px rgb(16 16 16 / 10%);
}

 .img-sec span,
.gallery_section .img-sec span {
	position: absolute;
	background: red;
	color: #fff;
	padding: 10px 25px;
	right: 0;
	bottom: 40px;
}

 .img-sec span:before,
.gallery_section .img-sec span:before {
	content: "";
	width: 32px;
	height: 32px;
	background: red;
	position: absolute;
	left: -16px;
	top: 7px;
	transform: rotate( 45deg);
}

.img-sec span:after,
.gallery_section .img-sec span:after {
	content: "";
	width: 10px;
	height: 10px;
	background: #fff;
	position: absolute;
	top: 16px;
	border-radius: 50%;
	left: 0;
}

.slider-wrapper .owl-theme .owl-dots {
	display: none;
}

.slider1-wrapper .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -95px;
	right: 0;
}
.slider-wrapper .owl-theme .owl-nav .owl-prev:hover{
	border: 1px solid #e9e9e9 !important;
	background-color: transparent !important;
}

.slider-wrapper .owl-theme .owl-nav .owl-prev:hover i{
	color: #111;
}
.slider-wrapper .owl-theme .owl-nav .owl-next:hover{
	border: 1px solid #e9e9e9 !important;
	background-color: transparent !important;
}

.slider-wrapper .owl-theme .owl-nav [class*=owl-] {
	color: #FFF !important;
	background: #0d6efd !important;
}
.slider-wrapper .owl-theme .owl-nav .owl-next i{
	color:#fff !important;


}
.slider-wrapper .owl-theme .owl-nav .owl-next:hover i{
	color: #111 !important;
}
.slider-wrapper .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	border: 1px solid transparent;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.slider-wrapper .owl-theme .owl-nav button i {
	padding: 7px 20px !important;
	font-size: 20px;
}

.slider-wrapper .owl-carousel .owl-item img {
	cursor: pointer;
}


/* shine image hover */
.hover-img a, .slider-wrapper .img-sec a{
	display: inline-block;
	position: relative;
	overflow-x: hidden;
	width: 100%;
}

.hover-img a::before, .img-sec a::before{
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);

}

.hover-img a:hover::before, .img-sec a:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}



/* destination section css start */

.t-dest-wrapper {
	float: left;
	width: 100%;
	padding: 100px 12px;
}

.t-dest-wrapper h3,
.gallery_section .gallery-heading h3,
.news-main-wrapper .news-sec-heading h3 {
	text-align: center;
	font-weight: 600;
	padding-bottom: 25px;
}

.t-dest-wrapper p,
.gallery_section .gallery-heading p,
.news-main-wrapper .news-sec-heading p {
	text-align: center;
	padding-bottom: 40px;
}
.t-dest-wrapper .t-place{
	overflow: hidden;
	margin-bottom: 37px;
	margin-right: 15px;
	border-radius: 7px;
}
.t-dest-wrapper .t-place img {
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.t-dest-wrapper .t-place img:hover {
	-webkit-transform: scale(1.3);
	transform:  scale(1.3);

}
.t-dest-wrapper .t-place .t-cont {
	position: absolute;
	bottom: 25px;
	font-weight: 600;
	left: 30px;
}

.t-dest-wrapper .t-place .t-cont p {
	color: #fff;
    text-align: left;
    padding-bottom: 0;
    font-size: 20px;
}
.t-dest-wrapper .t-place .t-cont p span{
	font-size: 16px;
    font-weight: 300;
}
.t-dest-wrapper .t-center {
	padding-top: 30px;
}

.t-dest-wrapper .btn-primary,
.blog-main-wrapper .btn-primary {
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	margin-bottom: 25px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.t-dest-wrapper .btn-primary:hover,
.blog-main-wrapper .btn-primary:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}

/* video section css start */

.video-main-wrapper {
	float: left;
	width: 100%;
	background-image: url("../images/video.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 250px;
	padding-left: 12px;
	padding-right: 12px;
}

.video-main-wrapper .video-icon {
	text-align: right;
	padding: 35px 50px;
}

.video-main-wrapper .video-sec {
	border-left: 1px solid rgb(182, 182, 182);
	padding: 25px 50px;
}

.video-main-wrapper .video-sec h4 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 600;
}

.video-main-wrapper .video-sec .btn {
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	margin-top: 40px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.video-main-wrapper .video-sec .btn:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}
.video-main-wrapper .modal-header{
	border: none;
}
.video-main-wrapper .modal-dialog{
	max-width: 800px;
}
.video-main-wrapper .modal-body{
	height: 370px;
}
.video-main-wrapper .modal-body iframe {
	width: 100%;
	height: 100%;
}

/* -=-=-=-=-=-=-=- gallery css start -=-=-=-=-=-=-=-=-=-=*/

.gallery_section {
	float: left;
	width: 100%;
	padding: 100px 12px 0px 12px;
	background-color: #f3f8ff;
}

.gallery_section .gallery-card-body {
	padding: 0;
}

.gallery_list {
	width: 100%;
	float: left;
	padding: 70px 0;
}

.gallery_box {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
}

.gallery_box:hover .cases_box_text h4 {
	color: #b8824f;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.gallery_box:hover .cases_box_text a {
	color: #000000;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.gallery_section .hover-img a img {
	width: 100%;
	cursor: pointer;
}

.gallery_section .nav-tabs {
	display: flex;
	justify-content: center;
	row-gap:  15px;
	border: none;
	position: relative;
	z-index: 111;
}

.gallery_section .nav-tabs .nav-item {
	margin-bottom: 0px;
}

.gallery_section .nav-tabs .nav-link {
	border: none;
	text-transform: capitalize;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 600;
	color: #111;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border: none;
	color: #0d6efd;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #ffffff;
	background: #0d6efd;
	border: none;
	border-radius: 5px;
}

.card {
	border: none;
	background: transparent;
}

.card .card-header {
	display: none;
}

.card .collapse {
	display: block;
}

.gallery_table {
	width: 100%;
	float: left;
	padding-top: 30px;
}

.gallery_section .sub-main {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 13px;
}

.gallery_section .sub-main:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


/* blog section css start */

.blog-main-wrapper {
	float: left;
	width: 100%;
	padding: 100px 15px;
}

.blog-main-wrapper .blog-cont {
	padding-right: 40px;
}

.blog-main-wrapper h3 {
	font-weight: 600;
	padding-bottom: 30px;
}

.blog-main-wrapper .blog-cont p {
	padding-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
}

.blog-main-wrapper .owl-carousel .owl-item img {
	width: auto;
	height: 100px;
}

.blog-main-wrapper .sb-blog-wrapper {
	border: 1px solid #e9e9e9;
}

.blog-main-wrapper .sb-blog-wrapper h4 {
	padding: 40px;
	border-bottom: 1px solid #e9e9e9;
	font-weight: 600;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider {
	padding: 40px;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider span {
	display: inline-block;
	color: #0d6efd;
	padding-bottom: 30px;
	cursor: pointer;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider p .fas.fa-star {
	color: #e0b319;
	cursor: pointer;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider .blog-slider-cont {
	display: flex;
	justify-content: center;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider .blog-slider-cont p {
	font-size: 20px;
	color: #111111;
	font-weight: 400;
	font-style: italic;
	font-family: "Libre Baskerville";
	padding: 0px 20px;
}

.blog-main-wrapper .sb-blog-wrapper .review-slider .blog-slider-cont p a {
	display: block;
	color: #0d6efd;
}

.blog-main-wrapper .owl-carousel .owl-nav {
	display: block;
	position: absolute;
	top: -85px;
	right: 40px;
}

.blog-main-wrapper .owl-carousel .owl-dot {
	display: none;
}


/* news section css */

.news-main-wrapper {
	float: left;
	width: 100%;
	padding: 100px 15px;
	background-color: #f3f8ff;
}

.news-main-wrapper .news-img img {
	width: 100%;
	margin-top: 20px;
}

.news-main-wrapper .news-cont {
	padding: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.news-main-wrapper .news-cont:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.news-main-wrapper .news-cont span {
	display: inline-block;
	padding-bottom: 20px;
}

.news-main-wrapper .news-cont span i {
	color: #1c73ea;
}

.news-main-wrapper .news-cont h5 {
	font-weight: 600;
	padding-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.news-main-wrapper .news-cont:hover h4 {
	color: #1c73ea;
}

.news-main-wrapper .news-cont p {
	line-height: 30px;
	color: #797979;
	font-weight: 400;
	font-size: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.news-main-wrapper .news-cont h5 a{
	color: #111;
}
.news-main-wrapper .news-cont:hover h5 a{
	color: #1c73ea;
}
.news-main-wrapper .news-cont  a {
	text-transform: uppercase;
	font-weight: 600;
	color: #1c73ea;
	padding-bottom: 20px; 
}

.news-main-wrapper .t-center .btn-primary {
	width: 205px;
	height: 50px;
	text-transform: uppercase;
	margin-top: 70px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.news-main-wrapper .t-center .btn-primary:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}

/* contact form css start */

.contact-main-wrapper {
	float: left;
	width: 100%;
	padding: 0 12px;
	background-color: #1c73ea;
}

.contact-main-wrapper .form {
	/* background-color: #1c73ea; */
	padding: 47px 24px;
	min-height: 230px;
	max-width: 660px;
	float: right;
	width: 100%;
}

.contact-main-wrapper .form h5 a{
	color: #fff;
	font-size: 24px;
	display: inline-block;
	padding-bottom: 11px;
}

.contact-main-wrapper .form p {
	color: #fff;
	padding-bottom: 15px;
}

.contact-main-wrapper .offer-tag {
	background-image: url('../images/offer-tag.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 48px;
	line-height: 48px;
	min-height: 230px;
}

.contact-main-wrapper .offer-tag h5 a{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}

.contact-main-wrapper .offer-tag p {
	color: #fff;
	line-height: 20px;
	margin: 12px 0;
}

.contact-main-wrapper .offer-tag .btn-light {
	width: 150px;
	height: 50px;
	line-height: 35px;
	text-transform: uppercase;
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.contact-main-wrapper .offer-tag .btn-light:hover{
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}
.contact-main-wrapper .input-box input {
	width: 95%;
	height: 50px;
	background: transparent;
	border: 1px solid #e9e9e9;
	padding-left: 50px;
	color: #ffffff;
	border-radius: 7px;
}

.contact-main-wrapper .input-box input::placeholder {
	color: #fff;

}

.contact-main-wrapper .input-box i {
	position: absolute;
	top: 17px;
	left: 20px;
	color: #fff;
	font-size: 18px;
}

.contact-main-wrapper .input-box button {
	position: absolute;
    background-color: transparent;
    border: none;
    right: 7%;
    color: #fff;
    text-transform: uppercase;
    top: 50%;
    border-left: 1px solid #fff;
    padding: 0px 6px 0 18px;
    transform: translateY(-50%);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.contact-main-wrapper .input-box button:hover{
	color: #111;
}
/* footer section css start */
.footer-main-wrapper{
	float: left;
	width: 100%;
	padding: 100px 15px;
	border-bottom: 1px solid #f9f9f9;
}
.footer-main-wrapper.border-color{
	border: 1px solid #343434;
}
.f-pd{
	display: inline-block;
	padding-bottom: 30px;
	font-weight: 700;
}
.footer-main-wrapper .sb-footer-logo p{
	padding-bottom: 15px;
}
.footer-main-wrapper .footer-social-icon{
	display: flex;
}
.footer-main-wrapper .footer-social-icon li{
	width: 35px;
    height: 35px;
    border: 1px solid #e9e9e9;
    margin-right: 10px;
    line-height: 35px;
    text-align: center;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.footer-main-wrapper .footer-social-icon li:hover {
	background-color: #0d6efd;
}
.footer-main-wrapper .footer-social-icon li:hover i{
	color: #fff;
}
.footer-main-wrapper .sb-footer-logo p a{
	display: inline-block;
	padding-top: 28px;
    text-transform: uppercase;
}
.footer-main-wrapper .sb-footer-logo p i{
	font-size: 24px;
	color: #1c73ea;
}
.footer-main-wrapper .footer-menu li{
	padding-bottom: 7px;
}
.footer-main-wrapper .footer-menu li:hover{
	color: #1c73ea;
}
.footer-main-wrapper .footer-menu li:hover a{
	color: #0d6efd;
	transform: translateX(30px);
}
.gutter{
	--bs-gutter-x: 0;
}
 .footer-feed a {
	display: inline-block;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	margin-right: 10px;
}
 .footer-feed a img{
	display: inline-block;
	margin-bottom: 20px;
	width: auto;
	border-radius: 5px;
}
 .footer-feed .more-feed{
	text-transform: uppercase;
	color: #0d6efd;
	font-weight: 600;
	margin-top: 15px;
}
 .footer-feed span{
	position: absolute;
    left: 40%;
    top: 22px;
	color: #fff;
    opacity: 0;
	visibility: hidden;
	z-index: 99;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.footer-feed a::after{
	content: "";
	width: 100%;
	height: 79%;
	background-color: #0d6efd6b;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
 .footer-feed a:hover::after{
	opacity: 1;
	visibility:visible;
}
.footer-feed a:hover span{
	opacity: 1;
	visibility:visible;
}
.footer-main-wrapper .footer-menu a img{
	display: block;
	margin-top: 20px;
}

/* copy right */
.bottom-footer{
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #ffffff;

}
/* .bottom-footer p{
	padding: 60px 0px;
} */
.bottom-footer p a {
	color: #767777;
}
/* .bottom-footer a img{
	padding-top: 35px;
} */
/* .bottom-footer a img{
	width: 100%;
} */

/* ==================================================
   sign up page css start
=====================================================
*/
/* header changes */
.main_menu_wrapper.header-color .main_menu_navbar ul li a{
	color: #111;
	font-weight: 500;
	font-size: 18px;
}
a.btn-primary{
	width: 150px;
	height: 50px;
	text-transform: uppercase;
}
a.btn-primary:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.main_menu_wrapper.header-color{
	background-color: #fff;
	background-image: none;
}
.main_menu_wrapper.header-color::after{
	background: none;
}

.s-banner-wrapper{
	background-image: url("../images/s-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.s-banner-wrapper .s-heading-section{
	padding: 100px 0px;
}
.s-banner-wrapper .s-heading-section h2{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}
.s-banner-wrapper .s-heading-section h2 a{
	color: #fff;
	/* letter-spacing: 3px; */
}
.s-banner-wrapper .s-heading-section ul{
	display: flex;
    justify-content: center;
    background: #86868645;
    margin: 0 auto;
    max-width: 300px;
	margin-top: 30px;
}
.s-banner-wrapper .s-heading-section ul li{
	padding: 7px 9px;
}
.s-banner-wrapper .s-heading-section ul li a{
	color: #fff;
}

/* form-section css start  */
.signup-form-main-wrapper{
	padding: 100px 0px;
	background-color: #f3f8ff;
}

.signup-form-main-wrapper .s-cont-img{
	background-image: url('../images/s-holiday.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.signup-form-main-wrapper .s-cont-img::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: #1111118c;
	top: 0;
	z-index: 1;
}

.signup-form-main-wrapper .s-cont-img div{
	position: absolute;
	z-index: 9;
	padding: 40px;
	bottom: 0;
}
.signup-form-main-wrapper .s-cont-img  h2 a{
	color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.signup-form-main-wrapper .s-cont-img div button, a.btn-primary{
	width: 150px;
	height: 50px;
	text-transform: uppercase;
	/* margin-top: 20px;  */
	line-height: 35px;
	color: #fff !important;
}
a.btn-primary:hover{
	color: #1c73ea !important;
}
.signup-form-main-wrapper .signup-form{
	background-color: #fff;
	padding: 50px;
}
.signup-form-main-wrapper .signup-form button{
    border: none;
    border-radius: 5px;
    width: 96%;
    text-align: left;
    height: 50px;
    color: #fff;
    margin-bottom: 20px;
	padding: 0 20px;
	width: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
a.l-btn-clr{
	border: none;
    border-radius: 5px;
    width: 96%;
    text-align: left;
    height: 50px;
	line-height: 50px;
    color: #fff;
    margin-bottom: 20px;
	padding: 0 20px;
	display: inline-block;
	width: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.signup-form-main-wrapper .signup-form button.f-btn-clr{
	background-color: #3c5a95;
}
.signup-form-main-wrapper .signup-form button.f-btn-clr:hover{
	background-color: 	#205ace;
}
.signup-form-main-wrapper .signup-form button.g-btn-clr{
	background-color: #db4c3e;
}
.signup-form-main-wrapper .signup-form button.g-btn-clr:hover {
	background-color: #fb3a27;
}
.signup-form-main-wrapper .signup-form a.l-btn-clr{
	background-color: #0d6efd;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid transparent;
	margin-bottom: 33px;
	
}	
.signup-form-main-wrapper .signup-form a.l-btn-clr:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}
.signup-form-main-wrapper .signup-form .fa-facebook-f, .signup-form-main-wrapper .signup-form .fa-google-plus-g{
	position: absolute;
	color: #fff;
	right: 40px;
	top: 15px;
	font-size: 16px;

}
.icon-pos{
	position: absolute;
	color:#0d6efd;
	right: 40px;
	top: 15px;
	font-size: 16px;
}
.signup-form-main-wrapper .signup-form input.text-area{
	width: 96%;
	height: 50px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
	padding-left: 30px;
}
.signup-form-main-wrapper .signup-form ul{
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.signup-form-main-wrapper .signup-form #forget a{
	color: #db4c3e;
	text-decoration: underline;
	font-size: 14px;
}
.signup-form-main-wrapper .signup-form .text {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	font-weight: 700;
	padding-bottom: 15px;
	position: relative;
}
.signup-form-main-wrapper .signup-form .text::before{
	content: '';
    position: absolute;
    width: 42%;
    height: 1px;
    background-color: #111;
    left: 0;
    top: 18px;
} 
.signup-form-main-wrapper .signup-form .text::after{
	content: '';
    position: absolute;
    width: 42%;
    height: 1px;
    background-color: #111;
    right: 0;
    top: 18px;
} 
.signup-form-main-wrapper .signup-form #top-border{
	border-top: 1px solid #e9e9e9;
	padding-top: 10px;
}
.signup-form-main-wrapper .signup-form #top-border #sign-btn{
	font-size: 20px;
	color: #0d6efd;
	text-transform: capitalize;
}
.sign-up-header .toggle-main-wrapper li{
	background-color: #111;
}
.sign-up-header .toggle-main-wrapper li:nth-of-type(2)::before{
	background-color: #111;
}
.sign-up-header .menu-fixed{
	background-color: #fff !important;
}
/*===================================================
 listing-grid-view css start 
 ==================================================*/
 /* side bar */
.sb-grid-main-wrapper{
	 padding: 100px 0px;
	 background-color: #f3f8ff;
}
.sb-grid-main-wrapper .find-us-wrapper, .sb-grid-main-wrapper .top-deals-wrapper, .sb-grid-main-wrapper .rating-wrapper,.sb-grid-main-wrapper .r-type-wrapper, .sb-grid-main-wrapper .feed-wrapper{
	padding-bottom: 50px;
}
.sb-grid-main-wrapper h4{
  font-weight: 600;
  padding-bottom: 30px;
}
.sb-grid-main-wrapper .find-us-wrapper ul li{
	position: relative;
	margin-bottom: 20px;
}
.sb-grid-main-wrapper .find-us-wrapper ul li input, .sb-grid-main-wrapper .find-us-wrapper ul li select{
	width: 95%;
    padding-left: 20px;
    height: 50px;
    border: none;
	box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
	font-weight: 600;
	font-size: 16px;
	color: #111;
}
.sb-grid-main-wrapper .find-us-wrapper ul li input::placeholder{
	color: #111; 
}
.sb-grid-main-wrapper .find-us-wrapper ul li svg{
	position: absolute;
    right: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.sb-grid-main-wrapper .find-us-wrapper ul li button{
	width: 95%;
	height: 50px;
	text-transform: uppercase;
	box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
}
/* top deals css */
.sb-grid-main-wrapper  ul li input.checkbox{
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.sb-grid-main-wrapper .top-deals-wrapper ul li label{
	font-size:18px;
}
.sb-grid-main-wrapper  ul li .fas.fa-star{
	color: #e0b319;
}
.sb-grid-main-wrapper  ul li .fas.fa-star, .sb-grid-main-wrapper  ul li .far.fa-star{
	padding: 0px 2px;
}
.sb-grid-main-wrapper .rating-wrapper ul li span{
	position: absolute;
	right: 5%;
	color: #0d6efd;
	font-weight: 600;
}
.sb-grid-main-wrapper .feed-wrapper .footer-feed a{
	margin-right: 12px;
}
.sb-grid-main-wrapper .holiday-section h3 a{
 	color: #fff;
	 font: 600;
}
.sb-grid-main-wrapper .holiday-section div{
	position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0 auto;
}
.sb-grid-main-wrapper .holiday-section button{
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 600;
	
}
.grid-view-wrapper{
	padding: 30px 10px;
}
.grid-view-wrapper .fliter-sec{
	display: flex;
	justify-content:  left;
	align-items: baseline;
}
.grid-view-wrapper .fliter-sec select{
	width: 250px;
	height: 50px;
	border: none;
	box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
	padding-left: 25px;
}
.grid-view-wrapper .fliter-sec i.fas{
	font-size: 21px;
}
.grid-view-wrapper .fliter-sec .nav-link{
	background: #fff;
    box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
    padding: 13px 17px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: #0d6efd;
	color: #fff;
	/* margin-right: 15px; */
    /* margin-left: 15px; */
}
.grid-view-wrapper #show-item{
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}
.grid-view-wrapper #show-item li button{
	width: 135px;
	height: 50px;
	box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
	text-transform: uppercase;
	font-weight: 600;
}

.grid-view-wrapper #show-item li span{
	color: #0d6efd;
}
.grid-view-wrapper .sub-main{
	margin-top: 23px;
	border-radius: 12px;
}
.grid-view-wrapper .sub-main .hover-img a{
	height: 200px;
	overflow: hidden;
	border-radius: 12px 12px 0px 0px;
}
/* .grid-view-wrapper .sub-main .hover-img a img{
	width: 100%;
} */
.grid-view-wrapper .sub-main .slider-content{
	border: none;
}
.list-type {
	margin-top: 20px;
}
.list-type .list-sub-main{
	display: flex;
}
.list-type .list-sub-main  .slider-content p{
	padding-top: 20px;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.list-type .list-sub-main  .slider-content{
	padding: 37px 30px;
	border-radius: 0px;
	margin-top: -1px;
	/* max-height: 278px; */
	border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
	height: fit-content;
}
.list-width-type .slider-content{
	/* height: 276px !important; */
}
.grid-view-wrapper #show-item a.btn {
    background-color: #fff;
    color: #111;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
}
 nav{
	padding-top: 40px;
}
 nav .page-link{
	color: #111;
	font-weight: 600;
	border-radius: 5px;
}
 nav li.page-item {
    margin-right: 10px;
	box-shadow: 0px 1px 5px rgb(16 16 16 / 10%);
}
/* map css */
.map-main-wrapper .sb_banner_cont_iner_wrapper{
	padding: 0px;
	position: absolute;
    bottom: -55px;
} 
.sb_banner_cont_iner_wrapper ul{
	margin: 0px;
	box-shadow: 0px 3px 25px rgb(17 17 17 / 10%);
}
/* map grid view */
.grid-map-wrapper {
	padding: 100px 0px;
	background-color: #f3f8ff;
	overflow: hidden;
}
/* blog categories wrapper */
.b-categorie-wrapper{
	padding: 100px 0px;
	background-color: #f3f8ff;
}
.sb-post-wrapper{
	padding-bottom: 50px;
}
.sb-post-wrapper iframe{
	width: 100%;
	height: 460px;
}
.sb-post-wrapper img{
	width: 100%;
}
.sb-post-wrapper ul , .bs-social-content ul{
	display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 22px 0px;
}
.sb-post-wrapper ul li{
	padding-right: 35px;
}
.sb-post-wrapper ul li span i{
	color: #0d6efd;
}
.sb-post-wrapper p{
	padding: 25px 0px;
}
.sb-post-wrapper a.btn-primary{
	width: 150px;
	height: 50px;
	text-transform: uppercase;
	/* margin: 20px 0px; */
}
.sb-post-wrapper a.btn-primary:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
	box-shadow: none;
}
.bs-comment-text{
	padding-top: 30px;
}
.blog-sidebar .blog-search input{
	margin: 25px 0px;
    border: 1px solid #e9e9e9;
	box-shadow: 0px 1px 5px rgb(17 17 17 / 10%);
    height: 50px;
    width: 90%;
    padding-left: 25px;
}
.blog-sidebar{
	padding-left: 20px;
}
.blog-sidebar .blog-search span i{
	right: 15%;
	color: #0d6efd;
}

 .blog-acor h4, .blog-tab h4 , .feed-wrapper h4{
	 padding-bottom: 30px;
 }
 .blog-acor .accordion-button:focus,  .blog-acor .accordion-item{
   border: 1px solid #e9e9e9;
   border-left: none;
   border-right: none;
   box-shadow: none;
}
.blog-acor .accordion-button:not(.collapsed) {
   color:#4385f5;
   border-bottom: 1px solid #e9e9e9;
}
.blog-acor .accordion-button{
	font-weight: 500;
	background: #f3f8ff;
}
.blog-acor .accordion-button::after{
	display: block;
    position: absolute;
    content: "";
    flex-shrink: 0;
    top: 20px;
    right: 20px;
    width: 3px;
    height: 11px;
    background: currentColor;
    transition: 0.2s ease all;
}
.blog-acor .accordion-button::before{
	display: block;
    position: absolute;
    content: "";
    top: 24px;
    right: 16px;
    width: 11px;
    height: 3px;
    background: currentColor;
}
.blog-acor .accordion-button:not(.collapsed)::after{
   background-color: #fff;
   display: none;  
}
.blog-acor .accordion-body{
   background-color: #4385f5;
}

.blog-acor .accordion {
   width: 90%;
}
.blog-acor .accordion-body {
	background-color: #f3f8ff;
}
.blog-acor .accordion-body ul li{
	padding: 10px 0px;
}
.blog-tab  .nav-link {
    background: #fff;
    box-shadow: 0px 1px 5px rgb(17 17 17 / 10%);
    padding: 7px 35px;
}
.blog-tab .blog-tab-cont{
	padding: 5px 10px;
}
.blog-tab .blog-tab-cont h6{
	padding: 7px 0px;
}
.blog-tab .blog-tab-cont span i{
	color: #0d6efd;
}
.blog-tab .tab-content img{
	margin-bottom: 20px;
}
.blog-achive ul{
	padding: 20px;
}
.blog-achive ul li{
	padding: 13px 0px;
	border-bottom: 1px solid #e9e9e9;
}
.blog-achive ul li:hover a, .blog-achive ul li:hover span i{
	color: #0d6efd
}
/* blog single page */
.bs-text-design{
	background-color: #1c73ea;
	padding: 40px 0px;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}
.bs-text-design h5 a, .bs-text-design p{
	color: #fff;
    font-weight: 400;
    line-height: 35px;
	position: relative;
	z-index: 9;
}
.bs-text-design div{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
}
.bs-text-design div svg{
	fill: #498fee;
}
.bs-social-content{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	border: 1px solid #e9e9e9;
    border-left: 0;
    border-right: 0;
}
.sb-post-wrapper .bs-social-content ul li, .bs-social-content ul li{
	padding-right: 25px;
}
.sb-post-wrapper .bs-social-content ul.social-icon li , .bs-social-content ul.social-icon li{
	padding: 7px 15px;
	background-color: #fff;
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgb(17 17 17 / 10%);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.sb-post-wrapper .bs-social-content ul li:hover a, .sb-post-wrapper .bs-social-content ul li:hover i, .bs-social-content ul li:hover i, .bs-social-content ul li:hover a{
	color: #0d6efd;
}
.sb-post-wrapper .bs-social-content ul.social-icon li:hover ,.bs-social-content ul.social-icon li:hover{
	background-color: #0d6efd;
}
.sb-post-wrapper .bs-social-content ul.social-icon li:hover i,  .bs-social-content ul.social-icon li:hover i{
	color: #fff;
}
.post-cont h5{
	padding-top: 30px;
}
.post-cont p{
	padding: 15px 0px;
}
.bs-post{
	padding: 40px 50px;
    background: #fff;
    margin: 40px 0px;
}
.bs-post img{
	width: auto;
}
.bs-post-box ul{
	align-items: flex-start;
}
.bs-post-box .bs-first-box{
	display: flex;
	justify-content: flex-start;
	background-color: #fff;
	padding: 0px;
	margin: 22px 0px;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.bs-post-box ul li.post-radius{
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bs-post-box ul li:hover{
	background-color: #0d6efd;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.bs-post-box ul li a{
	font-size: 16px;
	letter-spacing: 0.5px;
}
.bs-post-box ul li:hover a , .bs-post-box ul li:hover i{
	color: #fff;
}
.bs-second-box {
	display: flex;
	justify-content: flex-end !important;
    background: #fff;
    padding: 0px !important;
    margin: 22px 0px;
	border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;

}
.bs-second-box li:first-child{
	margin-right: 50px;
	margin-top: 30px;
}
.bs-first-box li:nth-child(2){
  padding: 30px 50px;
}
.bs-second-box:hover, .bs-first-box:hover{
	background-color: #0d6efd;

}
.bs-post-box ul:hover li a , .bs-post-box ul:hover li i{
	color: #fff;
}
/* comment form */
.w-100{
	width: 100% !important;
}
.w-50{
	width: 49% !important; 
	/* margin-right: 14px; */
}
.color{
	color: #0d6efd !important;
	font-weight: 600;
}
.sb-grid-main-wrapper .rating-wrapper{
	padding-bottom: 20px;
}
.contact-form input{
	height: 50px;
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    padding-left: 30px;
	border-radius: 7px;
}
.contact-form textarea{
	border: 1px solid #e9e9e9;
    margin-top: 20px !important;
    padding-left: 30px;
    padding-top: 10px;
	color: #797979;
	border-radius: 7px;
}
.contact-form button{
	width: 150px;
	height: 50px;
	margin: 20px 0px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;

}
.contact-form button:hover{
	background-color: transparent;
	border-color: #1c73ea;
	color: #1c73ea;
}
.contact-form input.form-control{
	display: inline-block;
}
.bs-comment-text  img{
	width: auto;
	border-radius: 50%;
}
.bs-cont-wrapper{
	border-top: 1px solid #e9e9e9;
}
.sb-post-wrapper ul li span i.far.fa-star{
	color: #111;
}
.sb-commment-text ul{
	padding: 10px 0px;
	display: flex;
}
.sb-commment-text ul li {
	padding-right:20px !important;
}
.sb-commment-text ul li.left-side{
	border-left: 1px solid #797979;
	padding-left: 20px;
}
.bs-real-post{
	background-color: #e8effa;
}
.text-color{
	color: #0d6efd !important;
}
/* ---404 page css--- */
.main-wrapper-content{
	width:100%;
	float:left;
	padding-top:100px;
	padding-bottom:100px;
	background-image: url('../images/map-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main_wrapper_three_img{
	float:left;
	width:100%;
	position:relative;
}
.main_wrapper_three_img img{
	-webkit-animation: fa-spin 10s infinite linear;
    animation: fa-spin 10s infinite linear;
}
.wheel_img_one_wrapper{
	position:absolute;
	left:0;
}
.wheel_img_two_wrapper{
	position: absolute;
	left: 170px;
    top: 111px;
}
.wheel_img_three_wrapper{
	position: absolute;
   left: 0;
    top: 217px;
}
.main_wrapper_three_content{
	float:left;
	width:100%;
	padding-bottom: 100px;
}
.main_wrapper_three_content span{
	font-size:200px;
	color:#4285f4;
	font-weight:900;
}
.main_wrapper_three_content h2 span:first-child{
	text-shadow: -15px 0px 5px #e5e5e5;
    position: relative;
    z-index: 1;
}
.main_wrapper_three_content h2 span:nth-child(2){
	color: #111;
    margin-left: -24px;
    z-index: 1;
    position: relative;
}
.main_wrapper_three_content h2 span:last-child{
	margin-left: -40px;
    z-index: 1;
    text-shadow: 7px 10px 5px #e5e5e5;
    position: relative;
}
.main_wrapper_three_content h3{
	font-size:35px;
	color:#111;
	font-weight:700;
	text-transform:uppercase;
	margin:30px 0px;
}
.main-wrapper-content .sb_banner_cont_iner_wrapper{
	padding-top: 100px;
}
.contact-sec .service-box{
	min-height: 280px;
	border-bottom: 0px;
}
.contact-sec .service-box p, .contact-sec .service-box h4{
	padding-top: 20px;
}
.contact-sec .service-box:hover p, .contact-sec .service-box:hover h4 a{
	color: #fff;
}

.page-content .get-in-touch .contact-form {
	text-align: center;
}
.page-content .get-in-touch .contact-form .form-control {
	font-size: 14px;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.page-content .get-in-touch .contact-form textarea.form-control {
	height: 130px;
	margin-bottom: 40px;
	resize: none;
}
.page-content .get-in-touch .contact-form .btn {
   font-size: 15px;
   padding: 0 75px;
}
.page-content .page-blog.with-map {
	margin: 0;
	padding: 0;
}
.page-content .page-blog.with-map .blog-content {
	background-color: #f9f9f9;
	padding: 40px 40px 100px;
}

/* hotel single page css */
.hs-banner-wrapper{
	float: left;
	width: 100%;
}
.hs-banner-wrapper .item div{
	height: 450px;
}
.hs-banner-wrapper .item img{
	height: 100%;
}
.hs-banner-wrapper  .owl-carousel , .owl-carousel .owl-nav.disabled{
	display: block;
}
.hs-banner-wrapper  .owl-nav{
	position: absolute;
    top: 40%;
	width: 100%;
}
.hs-banner-wrapper .owl-prev, .hs-banner-wrapper .owl-next{
	background: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 0px;
	color: #111 !important;
}
.hs-banner-wrapper .owl-theme .owl-dots{
	display: none;
}
.hs-banner-wrapper  .owl-prev {
	left: 100px;
	position: absolute;
}
.hs-banner-wrapper  .owl-next{
	right: 100px;
	position: absolute;
}
.sb-blog-wrapper .owl-theme .owl-nav .owl-prev i, .sb-blog-wrapper .owl-theme .owl-nav .owl-next i{
	color: #111 !important;
}
.sb-blog-wrapper .owl-theme .owl-nav   button{
	border: 1px solid #e9e9e9;
    padding: 7px 20px !important;
    margin-right: 10px;
}

.pt-20{
  padding-top: 20px;
}
.hs-blog-wrapper {
	float: left;
	width: 100%;
	padding: 100px 0px;
	background-color: #f3f8ff;
}
.hs-blog-wrapper .text-design{
	font-size: 30px;
	font-weight: 600;
	 color: #f02837;
}
.hs-blog-wrapper #hs-list-items{
	display: flex;
}
.hs-blog-wrapper #hs-list-items ul{
	padding-right: 100px;
	padding-top: 20px;
}
.hs-blog-wrapper .hs-servicer-sec ul{
	display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 50px;
}
.hs-blog-wrapper  h4{
	padding: 40px 0px;
}
.hs-blog-wrapper .hs-servicer-sec ul li i{
	font-size: 32px;
}
.hs-blog-wrapper #video-popup{
	background-image: url('../images/video-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	text-align: center;
	line-height: 500px;
}

.hs-blog-wrapper .card{
	background-color: #fff;
	margin-top: 20px;
}
.hs-blog-wrapper .card h5{
	padding:15px;
	text-transform: uppercase;
	text-align: center;
}
.hs-blog-wrapper .card .card-body{
	padding: 40px;
    text-align: center;
    line-height: 35px;
}
.hs-map-sec .hs-box{
	background-color: #0d6efd;
	border-radius: 5px;
	padding: 0px 70px;
}
.hs-map-sec .hs-box .f-right{
	float: right;
	width: 75%;
	padding: 40px 0px;
	border-right: 1px solid #498fee;
}
.hs-map-sec .hs-box  span{
	display: inline-block;
	padding: 45px 20px;
}
.hs-map-sec .hs-box  span i, .hs-map-sec .hs-box .f-right a{
	color: #fff;
	letter-spacing: 1px;
}
.hs-map-sec .hs-box  span i{
	font-size: 25px;
}
.hs-rating-section .total-rating {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.hs-rating-section .total-rating .overall-score {
    font-size: 24px;
    color: #fff;
    background-color: #e0b319;
    border-radius: 50%;
    padding: 18px;
    margin-right: 15px;
}
.hs-rating-section .total-rating .overall-info{
	color: #333;
}
.hs-rating-section .rating-progress-item {
    margin-bottom: 20px;
}
.hs-rating-section .rating-progress-item .rating {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}
.hs-rating-section .rating-progress-item .rating .fa.fa-star, .hs-rating-section ul .fa.fa-star {
    color: #e0b319;
}
.hs-rating-section .rating-progress-item .progress {
    display: inline-block;
    width: 54%;
    height: 10px;
    background-color: #fff;
    border: 1px solid #e9ecef;
    margin-right: 10px;
}
.hs-rating-section .rating-progress-item .progress .progress-bar {
    background-color: #e9ecef;
    height: 100%;
}
.hs-rating-section .rating-progress-item .number {
    display: inline-block;
    color: #333;
	font-weight: 600;
}
.hs-rating-section ul{
	display: flex;
	justify-content: space-between;
	padding: 40px 0px;
}
.hs-rating-section .contact-form .w-50{
	width: 49% !important;
}
.hs-slidebar.sb-grid-main-wrapper ul li span{
	color: #111;
}
.hs-slidebar.sb-grid-main-wrapper ul li span i{
    color: #fff;
}
.hs-slider .slider-wrapper{
	background-color: #e8effa;
}
.hs-slider .slider-wrapper .owl-theme .owl-nav .owl-prev i, .hs-slider .slider-wrapper .owl-theme .owl-nav .owl-next i{
	color: #fff !important;
}
.hs-slider .slider-wrapper .owl-theme .owl-nav .owl-prev:hover{
	border: 1px solid #e9e9e9 !important;
	background-color: #fff !important;
}

.hs-slider .slider-wrapper  .owl-theme .owl-nav .owl-prev:hover i ,.hs-slider .slider-wrapper  .owl-theme .owl-nav .owl-next:hover i{
	color: #111 !important;
}
.hs-slider .slider-wrapper  .owl-theme .owl-nav .owl-next:hover{
	border: 1px solid #e9e9e9 !important;
	background-color:#fff !important;
}

/* ===============================================
index-02 css start
================================================== */
/* return to top button */
.second-page{
	background-color: #f02837 !important;
	border-radius: 5px;
}
.index-two-main-wrapper .sb-index-two .top-menu{
	background-color: transparent;
	color: #fff;
}
.second-page-slider .carousel-item{
	width: 100%;

}
.index-two-main-wrapper {
    position: absolute;
    left: 0;
	right: 0;
	margin: 0 auto;
    top: 0;
    z-index: 9999;
}
.index-two-main-wrapper .sb-index-two .top-menu .sub-top-menu .u-list li a{
	color: #fff;
}
/*.index-two-main-wrapper .sb-index-two .top-menu .sub-top-menu .u-list li:hover a{
	color: #f02837 !important;
}*/
.main_wrapper .top-menu .sub-top-menu .u-list li a{
	color: #111;
}
.index-two-main-wrapper.main_wrapper .top-menu .sub-top-menu .u-list li {
    /* padding: 7px 9px; */
    /* border-right: 1px solid #3c3c3c; */
}
.main_wrapper.index-two-main-wrapper .top-menu .sub-top-menu .u-list .social-icon{
	padding: 0;
}
.index-two-main-wrapper .wrap-nav-item:after{
	background-color: #f62b48;
}
/* search button */
.index-two-main-wrapper.main_wrapper .top-menu ul li .dropdown-items {
    position: absolute;
    width: 250px;
    background-color: #fff;
    padding: 25px 0px;
    top: 95px;
    left: -40px;
    border-radius: 10px;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    transform: translateY(25px);
    transition: all 0.5s;
}
.index-two-main-wrapper.main_wrapper .search-box .fa-search{
	color: #f62b48;
}
.index-two-main-wrapper.main_wrapper .search-box input {
    border-bottom: 1px solid #f62b48;
}
.index-two-main-wrapper.main_wrapper .top-menu ul li:hover .dropdown-items{
	opacity: 1;
	visibility: visible;
	transform: translateY(-25px);
    transition: all 0.5s;
}
.index-two-main-wrapper.main_wrapper  .main_menu_wrapper.header-color, .index-two-main-wrapper.main_wrapper  .main_menu_wrapper .main_menu_navbar{
	background: none;
}
.index-two-main-wrapper.main_wrapper  .main_menu_wrapper .container{
	background-color: #fff;
	border-radius: 7px;
}
.second-page-slider img{
	width: 100%;
}
.index-two-main-wrapper .dropdown-items.search-box::after{
	background-color: #ffffff;
}
.index-two-main-wrapper .main_menu_wrapper .main_menu_navbar ul li .dropdown-items li:hover{
	background-color:#ff506a6b ;
}
.index-two-main-wrapper.main_wrapper .main_menu_wrapper .main_menu_navbar .navbar-brand{
	/* padding: 25px; */
}
.index-two-main-wrapper.main_wrapper .switch::before{
	background: #f62b48;
}
.index-two-main-wrapper.main_wrapper input:checked+.switch {
    background: #fff;
}
.index-two-main-wrapper.main_wrapper .header-color .navbar-nav .btn-primary {
  background-color: #f62b48;
  border-color: #f62b48;
  color: #fff;
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.index-two-main-wrapper.main_wrapper .header-color .navbar-nav .btn-primary:hover{
	background-color: transparent;
	border-color: #f62b48;
	color: #f62b48 !important;
}
.index-two-main-wrapper.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li{
	line-height: 20px;
	padding: 0;
}

.index-two-main-wrapper.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li {
    line-height: 20px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.index-two-main-wrapper .main_menu_wrapper .main_menu_navbar{
	padding:0;
}
.index-two-main-wrapper.main_wrapper .top-menu .sub-top-menu .u-list .social-icon li a:hover {
    background-color: #f62b48;
    border-color: #f62b48;
}
.index-two-main-wrapper.main_wrapper .main_menu_wrapper .main_menu_navbar ul li .dropdown-items li a:hover{
	background-color:#ff506a6b;
}
.index-two-main-wrapper.main_wrapper .main_menu_wrapper .main_menu_navbar ul li .dropdown-items li a:hover{
	color: #f62b48 !important;
}
.index-two-main-wrapper.main_wrapper .sub-top-menu .u-list:hover .top-dropdown li:hover {
	background-color: #f62b48;
}
.index-two-main-wrapper.main_wrapper .sub-top-menu .u-list:hover .top-dropdown li:hover a{
	color: #fff !important;
}
.index-two-main-wrapper.main_wrapper .sub-top-menu .u-list:hover .top-dropdown li a {
	color: #111;
}
.index-two-main-wrapper.main_wrapper .main_menu_wrapper .main_menu_navbar ul li .dropdown-items .sub-dropdown li:hover a{
	color: #f62b48 !important;
}
.second-page-slider .carousel-control-prev, .second-page-slider .carousel-control-next {
    top: 50%;
    opacity: 1;
    width: 70px;
    height: 80px;
    background: #ffffff1f;
}
.second-page-slider .carousel-caption {
	padding-bottom: 8%;
}
.second-page-slider .carousel-caption h2 a{
	font-size: 56px;
	color: #fff;
}
.second-page-slider .carousel-caption h4 a {
    font-size: 40px;
    color: #ffffff;
	font-weight: 500;
	line-height: 70px;
}
.second-page-slider .carousel-caption  button.btn{
	width: 190px;
	height: 50px;
	background-color: #f62b48;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.second-page-slider .carousel-caption  button.btn:hover{
	background-color: transparent;
	border-color: #f62b48;
	color: #f62b48;
}

.second-page-slider .carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.second-page-slider .carousel-indicators .active{
	background-color:#f02837 ;
}
/* index-02 mobile menu */
.index-two-main-wrapper #sidebar .sidebar_logo{
	background-color: #f02837;
}
.index-two-main-wrapper #cssmenu>ul>li>a:hover{
	background-color: #f028376e;
}
.index-two-main-wrapper #cssmenu ul li{
	border-bottom-color: #f02837;
}
.index-two-main-wrapper #cssmenu>ul>.open>a{
	background-color:#f028376e;
}
.index-two-main-wrapper #cssmenu ul li.has-sub:hover {
    background-color: #ff8e97;
}
.index-two-main-wrapper #cssmenu ul li.has-sub ul li{
	background-color: #ff8e97;
}
.index-two-main-wrapper .m-social-icons span{
	border-color: #f02837;
}
.index-two-main-wrapper #sidebar{
	height: 100%;
}
/*index-02 banner-content css */
.banner-cont-wrapper{
	background-color: #f02837;
	padding: 100px 0px;
}
.banner-cont-wrapper h4 a, .banner-cont-wrapper p{
	color: #fff;
}
.banner-cont-wrapper h4 {
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 20px;
}
section .sb_banner_cont_iner_wrapper ul{
	position: relative;
	top: -50px;
	box-shadow: 0px 3px 29px rgb(0 0 0 / 10%);
}
section .sb_banner_cont_iner_wrapper  ul li input{
	border-bottom: 2px solid #f02837
}
section .sb_banner_cont_iner_wrapper  ul li select{
	border-bottom: 2px solid #f02837
}
section .sb_banner_cont_iner_wrapper  ul li span{
	color: #f02837;
}
section .sb_banner_cont_iner_wrapper  ul li button{
  background-color: #f02837;
  border-color: #f02837;
  -webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
section .sb_banner_cont_iner_wrapper  ul li button:hover{
	background-color: transparent;
	border-color: #f02837;
	color: #f02837;
}
/* index-02 slider-page */
.second-page-slider .slider-wrapper{
	background-color: #fff;
	padding-top: 60px;
}
.second-page-slider .slider-wrapper .owl-theme .owl-nav [class*=owl-]{
	background-color: #f02837 !important;
	color: #fff !important;
}
.second-page-slider .slider-wrapper .owl-theme .owl-nav .owl-prev:hover, .second-page-slider .slider-wrapper .owl-theme .owl-nav .owl-next:hover{
	background-color: #fff !important;
	border: 1px solid #f02837 !important;
}
.second-page-slider .slider-wrapper .owl-theme .owl-nav .owl-prev:hover i , .second-page-slider .slider-wrapper .owl-theme .owl-nav .owl-next:hover i{
	color: #f02837 !important;
}
/* second-page gallary css */
.second-page-tab-wrapper .sb-tab-section{
	background-color: #f7f7f7;
}
.second-page-tab-wrapper .nav-tabs .nav-item.show .nav-link, .second-page-tab-wrapper .nav-tabs .nav-link.active{
	background-color: #f02837;
	color: #fff;
}
.second-page-tab-wrapper .nav-tabs .nav-item.show .nav-link, .second-page-tab-wrapper .nav-tabs .nav-link.active:hover{
	color: #ffffff;
}
.second-page-tab-wrapper .img-sec span, .gallery_section .img-sec span, .second-page-tab-wrapper .img-sec span:before, .gallery_section .img-sec span:before{
	background-color: #f02837;
}
.second-page-tab-wrapper .slider-content .clr-text,.second-page-tab-wrapper .gallery_section .slider-content .clr-text {
    color: #f02837;
    cursor: pointer;
}
.second-page-tab-wrapper .slider-content,.second-page-tab-wrapper .gallery_section .slider-content:hover h5 a{
	color: #f02837;
}
.second-page-tab-wrapper .nav-tabs .nav-link:hover {
    border: none;
	color: #111;
}
/* video section */
.second-page-video-wrapper .video-main-wrapper {
	background-image: url('../images/second-video--01.jpg');
}
.second-page-video-wrapper .video-main-wrapper::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #1111119e;
    top: 0;
}
.second-page-video-wrapper .video-sec-content{
	position: relative;
	z-index: 9;
	padding: 100px 0px;
}
.second-page-video-wrapper .video-sec-content h2 a{
	font-size: 36px;
    color: #fff;
    cursor: pointer;
	letter-spacing: 1px;
    line-height: 50px;
}
.second-page-video-wrapper .video-sec-content p{
	color: #fff;

}
.second-page-video-wrapper .video-sec-content button{
	height: 50px;
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.second-page-video-wrapper .video-sec-content button:hover{
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}
.second-page-video-wrapper .hs-blog-wrapper #video-popup{
	background-image: url('../images/second-video--01.jpg');
	height: auto;
	position: relative;
	z-index: 9;
}
.hs-blog-wrapper #video-popup img{
	cursor: pointer;
}
.second-page-video-wrapper .modal-body iframe{
	height:100%;
	width: 100%;
}
/* review slider section */
.second-page-review-wrapper.blog-main-wrapper .sb-blog-wrapper{
	border: none !important;
}
.second-page-review-wrapper.blog-main-wrapper .sb-blog-wrapper .review-slider{
	border: 1px solid #e9e9e9;
}
.second-page-review-wrapper.blog-main-wrapper  .owl-carousel{
	padding-top: 50px;
}
.second-page-review-wrapper.blog-main-wrapper  .owl-carousel .owl-nav{
	display: none;
}
.second-page-review-wrapper.blog-main-wrapper  .owl-carousel .owl-dot{
	display:inline-block;
	margin-top: 50px;
}
.second-page-review-wrapper.blog-main-wrapper  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #f02837;

}
.second-page-review-wrapper.blog-main-wrapper .sb-blog-wrapper .review-slider span,.second-page-review-wrapper.blog-main-wrapper .sb-blog-wrapper .review-slider .blog-slider-cont p a{
	color: #f02837;
}
.blog-main-wrapper .owl-theme .owl-nav [class*=owl-]:hover{
	background: #1c73ea;
    color: #FFF;
    text-decoration: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.blog-main-wrapper .owl-theme .owl-nav [class*=owl-]:hover i{
	color: #fff !important;
}
/* artical news section css start */
.news-blog-wrapper .news-main-wrapper{
	background-color: #f7f7f7;
}
.news-blog-wrapper .news-main-wrapper img{
 width: 100%;
}
.news-blog-wrapper .news-main-wrapper .news-cont{
	padding: 44px 40px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.news-blog-wrapper .news-main-wrapper .news-cont h5 { 
	-webkit-line-clamp: 2;
}
.mb-30{
	margin-bottom: 30px;
}
.news-blog-wrapper .news-main-wrapper .news-cont a{
	color: #f02837;
}
.news-blog-wrapper .news-main-wrapper .news-cont h5 a{
	color: #111;
}
.news-blog-wrapper .news-main-wrapper .news-cont:hover h5 a{
	color: #f02837;
}
.news-blog-wrapper .news-main-wrapper .news-cont span i {
    color: #f02837;
}
.news-blog-wrapper .news-main-wrapper .t-center .btn-primary
{
	background-color: #f02837;
	border-color: #f02837;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.news-blog-wrapper .news-main-wrapper .t-center .btn-primary:hover{
	background-color: transparent;
	border-color: #f02837;
	color: #f02837;

}
.btn-check:focus+.btn-primary, .btn-primary:focus{
	border-color: none;
	box-shadow: none;
}
.side-image{
	background-image: url('../images/news-blog-03.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.side-image-2{
	background-image: url('../images/news-blog-04.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.side-image-3{
	background-image: url('../images/news-blog-05.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
/* partners css */
 .partner-main-wrapper{
	float: left;
	width: 100%;
	padding: 100px 0;
}
.partner-main-wrapper .owl-carousel .owl-item img{
	width: auto;
	margin: 0 auto;
}
.partner-main-wrapper .owl-nav{
	display: none !important;
}
/* sign up form css */
.form-main-wrapper .contact-main-wrapper{
	background-color: #f02837;
}

.form-main-wrapper .contact-main-wrapper .form{
	background: none;
	padding: 85px 0px;
}
.form-main-wrapper .contact-main-wrapper form{
	padding: 90px 0px;
}
/* footer-section css */
.second-page-footer-wrapper{
	float: left;
	width: 100%;
	background-color: #111;
}
.second-page-footer-wrapper .footer-main-wrapper .footer-social-icon li i {
    color: #fff;
}
.second-page-footer-wrapper .footer-main-wrapper .footer-social-icon li:hover {
    background-color: #f02837;
	border-color: #f02837;
}
.second-page-footer-wrapper .footer-main-wrapper .sb-footer-logo p i , .second-page-footer-wrapper  .footer-feed .more-feed{
   color: #f02837 !important;
}

.second-page-footer-wrapper .footer-main-wrapper .sb-footer-logo p a, .second-page-footer-wrapper .footer-main-wrapper .footer-menu li a, .second-page-footer-wrapper .footer-main-wrapper .footer-menu li, .second-page-footer-wrapper  .f-pd{
	color: #fff;
}
.second-page-footer-wrapper .footer-main-wrapper .footer-menu li:hover a, .second-page-footer-wrapper .footer-main-wrapper .footer-menu li:hover{
	color: #f02837;
}
.second-page-footer-wrapper .footer-feed a::after{
	background-color: #f0283780;
}
.bottom-footer ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	/* padding: 30px; */
}
.bottom-footer ul  li{
	margin-right: 20px;
}
.bottom-footer ul  li img{
	width: auto;
}
/* add hotel page css start */
.hotel-main-wrapper{
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 50px;
}
.hotel-main-wrapper h2{
	padding-bottom: 30px;
}
.hotel-main-wrapper .new_property_box {
    width: 100%;
    float: left;
}
.hotel-main-wrapper .new_property_box .form_property{
	width: 100%;
    float: left;
    padding: 50px 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.hotel-main-wrapper .new_property_box h3 {
    color: #000000;
    width: 220px;
    float: left;
    font-size: 18px;
	margin-top: 17px;
}
.hotel-main-wrapper .new_property_box .fields {
    width: calc(100% - 220px);
    float: left;
}
.hotel-main-wrapper .new_property_box .fields label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 15px 0 0;
}
.fields input, .fields textarea {
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 0 20px;
    height: 50px;
    background: #F9F9F9;
	border: none;
}
.hotel-main-wrapper .radio-btn{
	height:15px;
	width: 20%;
}
.img-select input{
	height: 50px !important;
	line-height: 28px !important;
}
.form_property h4 , .form_property h6 {
	font-weight: 600;
}
.hotel-main-wrapper  .form-control{
	border: none;
	background-color: #f9f9f9;
}
.hotel-main-wrapper .new_property_box .fields input[type="checkbox"] {
    width: auto;
    border-radius: 0;
    height: auto;
    vertical-align: middle;
    margin-right: 3px;
}

.hotel-main-wrapper .new_property_box .fields label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 15px 0 0;
}
.hotel-main-wrapper .new_property_box .fields .map_ifram iframe{
	width: 100%;
	height: 400px;
}


.select-box{
	width: 100%;
    height: 50px;
    padding: 0px 20px;
    background: #f7f7f7;
    border: none;
}
.hotel-main-wrapper .ex_top_mar {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.pd_order_filed_input_box input {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    height: 60px;
    padding: 7px;
	line-height: 37px;
}
.hotel-main-wrapper .btn-default {
    background-color: #1c73ea;
	color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 50px;
    padding: 0 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 16px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hotel-main-wrapper .btn-default:hover{
	background-color: white;
    color: #333333;
	
}
.dash-dropdown{
	border-right: none !important;
}
.dash-dropdown ul.dropdown-items{
	top: 49px;
	left: auto;
	right: 0;
    z-index: 999999;
	background-color: #fff;
	transform: translateY(-40px);
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
}
.dash-dropdown .dropdown-items::after{
	background-color: #fff !important;
	    left: auto;
    right: 40px;
}
.dash-dropdown:hover ul.dropdown-items{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}
.main_wrapper .top-menu  .dash-dropdown ul.dropdown-items li{
border-right: none !important;
}
.main_wrapper .top-menu  .dash-dropdown ul.dropdown-items li a{
	color: #000 !important;
	text-transform: capitalize;
	display: block;
	width: 100%;
}
.main_wrapper .top-menu  .dash-dropdown ul.dropdown-items li{
	padding: 0;
}
.main_wrapper .top-menu  .dash-dropdown ul.dropdown-items li a:hover{
	color: #1c73ea !important;
	background-color: #86b6fa9f;
}
/* dashboard page */
.main-dashboard-wrapper{
	float: left;
	width: 100%;
	padding: 100px 0px;
}
.main-dashboard-wrapper .dashboard-box {
    width: 100%;
    position: relative;
}
.dashboard-prop {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.main-dashboard-wrapper .dashboard-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    z-index: 0;
}
.main-dashboard-wrapper img{
	width: 100%;
}
.dashboard-prop h5 {
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
}
.dashboard-prop a {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

/* my hotel page css start */
.myhotel-main-wrapper{
	float: left;
	width: 100%;
	overflow-x: auto;
	padding: 100px 0px;
}
.my-hotels{
	min-width: 960px;
}
.my-hotels table {
    width: 100%;
}
.my-hotels table thead{
	background-color: #1c73ea;
}
.my-hotels table thead tr th {
    padding: 20px;
    color: #ffffff;
}
.my-hotels table tbody tr td {
    padding: 20px;
}
.my-hotels table tbody tr td .properties_img {
    width: 170px;
    float: left;
}
.my-hotels table tbody tr td .properties_img img{
	max-width: 100%;
}
.my-hotels table tbody tr td .properties_name {
    padding-top: 25px;
    width: calc(100% - 170px);
    float: left;
    padding-left: 20px;
}
.my-hotels table tbody tr td .properties_name a {
    font-weight: bold;
    color: #000000;
}
.my-hotels table tbody tr td .properties_name small {
    color: #47a0ff;
    text-transform: capitalize;
}
.my-hotels table tbody tr td .published-date span, .my-hotels table tbody tr td .expired-date span{
	font-size: 14px;
    color: #000000;
}
.my-hotels table tbody tr td .published-date span i, .my-hotels table tbody tr td .expired-date span i {
    margin-right: 10px;
}
.my-hotels table tbody tr td .published-date .text-published {
    margin-left: 23px;
    color: #00bd00;
    font-weight: bold;
}
.my-hotels table tbody tr td .expired-date .text-expiry {
    color: #e84a5f;
    margin-left: 23px;
    font-weight: bold;
}
.my-hotels table tbody tr td .expired-status {
    border-color: #d3c11f;
    color: #d3c11f;
}
.my-hotels table tbody tr td strong {
    display: inline-block;
    padding: 5px 15px;
    line-height: 30px;
    text-align: center;
    border: 3px solid #07c293;
    border-radius: 35px;
    text-transform: capitalize;
    color: #07c293;
    font-weight: 600;
}
.my-hotels table tbody tr td:nth-child(4) {
    font-weight: bold;
    color: #000000;
}
.my-hotels table tbody tr td:nth-child(5) {
    text-transform: capitalize;
    color: #000000;
    cursor: pointer;
    position: relative;
}
.my-hotels table tbody tr td:nth-child(5) i {
    font-size: 20px;
    margin-left: 9px;
}
.table_dropdown {
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    position: absolute;
    left: -135px;
    top: -59px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    width: 150px;
    padding: 5px 0;
    border-radius: 5px;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.my-hotels table tbody tr td:nth-child(5):hover .table_dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.table_dropdown ul li {
    padding: 5px 5px;
}
.contact-map-wrapper{
	float: left;
	width: 100%;
	height: 500px;
}

.youtube_player iframe{
	width: 100%;
	height: 342px;
}
.map-main-wrapper iframe{
	width: 100%;
}
.map-main-wrapper .mapouter {
	position: relative;
	text-align: right;
	width: 100%;
	height: 400px;
 }

 .map-main-wrapper .gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100%;
	height: 400px;
 }

 .map-main-wrapper .gmap_iframe {
	height: 400px !important;
 }
 .modal-body iframe{
	width: 470px;
	height: 315px;
 }
 .hs-map-sec iframe{
	 width: 100%;
	 height: 400px;
 }
 .n-border span{
	 text-transform: uppercase;
	 font-weight: 600;
 }


 /* map css */
 .map-main-wrapper.p-rel {
    height: 500px;
}
.with-amp, .map-view{
	height: 100%;
}
 .google-map {
	height: 100%;
}

.hover-img img{
	width: 100%;
}

.sub-main {
    /* margin-top: 23px; */
    border-radius: 12px;
}
.slider-content{
	padding: 30px 20px;
    border: 1px solid #e9e9e9;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: -10px;
	border: none;
}
.gm-style .gm-style-iw-d{
	max-height: 350px !important;
}
.gm-style .gm-style-iw-c{
	padding: 0 !important;
}
.gm-ui-hover-effect{
	background-color: #ffffff !important;
	opacity: 1 !important;
	top: 0 !important;
	right: 4px !important;
}
.gm-ui-hover-effect img{
	width: 33px !important;
	height: 33px !important;
	margin: 0 !important;
}